<p>{{ title }}</p>
<p>
  <b>{{ subtitle }}</b>
</p>
<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="50px">
  <div
    fxFlex="300px"
    fxLayout="column"
    fxLayoutAlign="space-around center"
    fxLayoutGap="20px"
  >
      <app-contact-item [value]="contact.email"
        [image]="image_email"></app-contact-item>
      <app-contact-item [value]="contact.tel"
        [image]="image_tel"></app-contact-item>
  </div>
  <div fxFlex="400px"><app-contact-form></app-contact-form></div>
</div>
