p {
  text-align: center;
}

div {
  width: 800px;
  height: 600px;
  display: block;
  position: relative;
  /* border: 1px solid #000; */
  margin: 20px auto;
  padding: 10px;
}

div:after {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/owl1.jpg);
  /* background: url(/home/mctrjalloh/projects/websites/moctardiallo/src/assets/img/profile.png); */
  opacity: 0.25;
  width: 800px;
  height: 580px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  content: "";
}
